<%- include('partials/_header'); %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">ALL DATA</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">All updates</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                On this page, you can view all updates created by you. You can review the details of your updates, edit them, or add a new update. You can use charts and other metrics to analyze data that will help you achieve your goals.
                                 .
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Updates Table
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Version Number</th>
                                            <th>Date</th>
                                            <th>Number of Testers</th>
                                            <th>Description</th>
                                            <th>Button</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% for (let i = 0; i < updates.length; i++) { %>
                                        <tr>
                                            <td><%= updates[i].name %></td>
                                            <td><%= updates[i].version %></td>
                                            <td><%= updates[i].createdAt %></td>
                                            <td><%= updates[i].numberOfTesters %></td>
                                            <td><%= updates[i].description %></td>
                                            <td>
                                                <a href="/update/<%= updates[i].slug %>" class="btn btn-primary">View</a>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
